<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CoffeeGuy</title>
        <link rel="stylesheet" href="../css/index.css">
        <link rel="shortcut icon" href="../sources/images/Coffee Guy 2 2 logoVsCode.svg" type="image/x-icon">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
    
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Roboto+Slab&display=swap"
            rel="stylesheet">
    
    
    </head>

<body>

    <header>

        <div class="flagColor1"></div>
        <div class="flagColor2"></div>

        <div class="logoContainer">

            <a href="../index.html">
                <img src="../sources/images/coffee guy litecito.svg" alt="Logo del sitio que dice Coffee Guy">
            </a>

        </div>


        <div class="navContainer">

            <nav class="navContainer__menu">

                <ul>
                    <li>
                        <a href="../views/about.html">
                            <span>Nosotros</span>
                        </a>
                    </li>
    
                    <li>
                        <a href="../views/locales.html">
                            <span>Locales</span>
                        </a>
                    </li>
    
                    <li>
                        <a href="../views/shop.html">
                            <span>Shop</span>
                        </a>
                    </li>
    
                    <li>
                        <a href="../views/novedades.html">
                            <span>Novedades</span>
                        </a>
                    </li>
    
                    <li>
                        <a href="../views/contact.html">
                            <span>Contacto</span>
                        </a>
                    </li>
    
                </ul>
    
            </nav>
        </div>



    </header>

    <main>
        <section class="about">
        
            <div class="about__banner">

                <img src="../sources/images/bannerAboutUs.png" alt="retro view of San Francisco USA">

            </div>

            <div class="about__text">

                <div class="about__text__article">
                    <h1>NOSOTROS</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam magna dictumst molestie dolor, at. Elit sagittis
                        vulputate enim amet, tristique euismod volutpat facilisis accumsan.
                        Scelerisque porttitor tempus cursus accumsan. Sagittis et id augue lacus libero. Mi ac id porta risus duis
                        tempor purus dictum pretium. Ullamcorper eu suspendisse amet ut est libero dui.</p>
                </div>
                
                <div class="about__text__articleScondary">
                    <h3>CONOCÉ LA EXPERIENCIA COFFEE GUY</h3>
                    <p>Ut eget ridiculus consequat nisl, bibendum donec urna. Nibh mattis duis sagittis proin. In ultrices ut urna
                        feugiat fermentum, sit diam id. Vitae, mattis ultrices eros lectus volutpat adipiscing.
                        Lorem hendrerit nunc faucibus scelerisque diam ut eu nisi. Viverra ornare augue est etiam sit sed pharetra.
                        Velit, enim venenatis aliquet lectus mauris venenatis vel.
                        Morbi imperdiet volutpat nisl mauris aliquam, purus at sed. Luctus diam aliquam sit tellus sit. Quisque amet,
                        massa, eu varius aliquet elit accumsan sollicitudin.
                        Orci ipsum elit sollicitudin lobortis convallis. Maecenas nulla velit, sit in nisi aenean. Ridiculus amet, erat
                        in ut nisi tellus lorem tortor. Nam facilisis nibh viverra pulvinar donec volutpat.
                        Pharetra, arcu sit sit sem neque nisl at pretium, non. Tortor pellentesque sapien ut at tempus. Mauris enim dis
                        nunc, habitasse. Venenatis faucibus vulputate elit egestas quam mattis.
                        Vitae purus mauris sodales eget mi, etiam tellus. Congue vel enim vel facilisi lacus euismod eleifend nisl.
                        Varius vitae lectus risus nunc amet, fermentum, sit sit feugiat.</p>
                
                    <h3>VISIÓN</h3>
                    <p>Egestas curabitur sollicitudin euismod quis duis ultricies. Sodales egestas at orci et. Ultrices ut quis
                        adipiscing consectetur duis gravida massa purus donec. Facilisi neque bibendum habitasse purus tellus.
                        Pellentesque posuere auctor in aliquam natoque ac in euismod. Diam et vitae, feugiat cras quis. Vel eros justo
                        eu, dignissim suspendisse pretium, urna sed. At nulla est et ornare scelerisque.
                
                        Non id vestibulum arcu sed faucibus. Sem adipiscing scelerisque quis eget egestas. Donec mus libero, et in eu.
                        Pharetra arcu quam sed mauris nunc mattis id. Pellentesque gravida eget risus egestas nunc, volutpat mattis.
                        Amet nisl, ultricies cras tortor. Quisque arcu venenatis sed tempor eu.</p>
                
                    <h3>MISIÓN</h3>
                    <p>Rhoncus magna dapibus aliquam nunc in tellus dolor. Dictumst morbi convallis convallis ullamcorper. Pharetra,
                        tempor nec turpis in purus. Diam ut mi vel elit, id. Gravida nunc egestas sapien pulvinar sed. Eu ullamcorper ut
                        pretium blandit aliquam integer in molestie. Malesuada donec faucibus metus, aenean et fermentum.</p>
                
                </div>
                
            </div>

        </section>
    </main>


    <footer>
    
        <section id="allFooter">
    
            <div class="top">
    
    
                <div class="top__newsLetter">
    
                    <p class="top__newsLetter__info">Recibí todas nuestras <span>PROMOCIONES Y NOVEDADES</span></p>
    
                    <form class="top__newsLetter__mail" action="">
    
                        <input class="top__newsLetter__mail__text" type="email" name="" id=""
                            placeholder="Ingresá tu dirección de correo electrónico">
    
                        <button>
    
                            <img src="../sources/images/mailButton.svg" alt="button with a letter image">
    
                        </button>
    
                    </form>
    
                </div>
    
                <div class="top__socialMedia">
    
                    <a href=""><img src="../sources/images/facebook.svg" alt="Facebook icon"></a>
                    <a href=""><img src="../sources/images/instagram.svg" alt="Instagram icon"></a>
                    <a href=""><img src="../sources/images/twitter.svg" alt="Twitter icon"></a>
                    <a href=""><img src="../sources/images/linkedin.svg" alt="Linkedin icon"></a>
                    <a href=""><img src="../sources/images/youtube.svg" alt="icon"></a>
    
                </div>
    
    
            </div>
    
            <div class="mid">
    
                <div class="mid__blocks">
    
                    <div class="mid__blocks__institucional">
    
                        <div class="mid__blocks__institucional__title">
                            <span>Institucional</span>
                        </div>
    
                        <div class="mid__blocks__institucional__blockUnit">
                            <nav class="mid__blocks__institucional__blockUnit__nav">
                                <ul class="mid__blocks__institucional__blockUnit__nav__ul">
                                    <li class="mid__blocks__institucional__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                                <span>Lorem ipsum</span>
                                            </div>
                                        </a>
    
                                    </li>
    
    
                                    <li class="mid__blocks__institucional__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                                <span>dolor sit</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__institucional__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                                <span>amet,</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__institucional__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                                <span>consectetur</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__institucional__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                                <span>adipiscing</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__institucional__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                                <span>elit ut aliquam,</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__institucional__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                                <span>purus</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                </ul>
    
                            </nav>
    
                        </div>
    
                    </div>
    
                    <div class="mid__blocks__legal">
    
                        <div class="mid__blocks__legal__title">
                            <span>Legal</span>
                        </div>
    
                        <div class="mid__blocks__legal__blockUnit">
                            <nav class="mid__blocks__legal__blockUnit__nav">
                                <ul class="mid__blocks__legal__blockUnit__nav__ul">
                                    <li class="mid__blocks__legal__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                                <span>Lorem ipsum</span>
                                            </div>
                                        </a>
    
                                    </li>
    
    
                                    <li class="mid__blocks__legal__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                                <span>dolor sit</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__legal__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                                <span>amet,</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__legal__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                                <span>consectetur</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__legal__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                                <span>adipiscing</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__legal__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                                <span>elit ut aliquam,</span>
                                            </div>
                                        </a>
    
                                    </li>
    
    
    
                                </ul>
    
                            </nav>
    
                        </div>
    
                    </div>
    
                    <div class="mid__blocks__cliente">
    
                        <div class="mid__blocks__cliente__title">
                            <span>Cliente</span>
                        </div>
    
                        <div class="mid__blocks__cliente__blockUnit">
                            <nav class="mid__blocks__cliente__blockUnit__nav">
                                <ul class="mid__blocks__cliente__blockUnit__nav__ul">
                                    <li class="mid__blocks__cliente__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                                <span>Lorem ipsum</span>
                                            </div>
                                        </a>
    
                                    </li>
    
    
                                    <li class="mid__blocks__cliente__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                                <span>dolor sit</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__cliente__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                                <span>amet,</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__cliente__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                                <span>consectetur</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__cliente__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                                <span>adipiscing</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__cliente__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                                <span>elit ut aliquam,</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__cliente__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                                <span>purus</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                </ul>
    
                            </nav>
    
                        </div>
    
                    </div>
    
                    <div class="mid__blocks__servicios">
    
                        <div class="mid__blocks__servicios__title">
                            <span>Servicios</span>
                        </div>
    
                        <div class="mid__blocks__servicios__blockUnit">
                            <nav class="mid__blocks__servicios__blockUnit__nav">
                                <ul class="mid__blocks__servicios__blockUnit__nav__ul">
                                    <li class="mid__blocks__servicios__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                                <span>Lorem ipsum</span>
                                            </div>
                                        </a>
    
                                    </li>
    
    
                                    <li class="mid__blocks__servicios__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                                <span>dolor sit</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__servicios__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                                <span>amet,</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__servicios__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                                <span>consectetur</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__servicios__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                                <span>adipiscing</span>
                                            </div>
                                        </a>
    
                                    </li>
    
    
                                    <li class="mid__blocks__servicios__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                                <span>purus</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                </ul>
    
                            </nav>
    
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
    
    
    
    
            <div class="bottom">
                <div class="bottom__copyright">
                    <div class="bottom__copyright__text">
                        <p>© 2020 coffeeguy derechos de autor</p>
                    </div>
                </div>
            </div>
    
    
        </section>
    
    </footer>

</body>

</html>